{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": false,
    "node": true,
    "amd": true,
    "jquery": true
  },
  "globals": {
    "__base":     true,
    "it":         true,
    "describe":   true,
    "beforeEach": true,
    "afterEach":  true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": false,
      "blockBindings": true,
      "classes": false,
      "defaultParams": true,
      "destructuring": true,
      "forOf": false,
      "generators": false,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": false,
      "regexUFlag": false,
      "regexYFlag": false,
      "restParams": true,
      "superInFunctions": false,
      "spread": true,
      "templateStrings": true,
      "jsx": true,
      "unicodeCodePointEscapes": false
    }
  },
  "rules": {
    "max-len": ["error", 120],
    "keyword-spacing": 1,
    "semi": ["error", "always"],
    "indent": [1, "tab", {"SwitchCase": 1}],
    "consistent-return": 0,
    "key-spacing": 0,
    "quotes": 0,
    "new-cap": 0,
    "camelcase": 1,
    "semi-spacing": 1,
    "dot-notation": 1,
    "no-multi-spaces": 0,
    "no-shadow": 1,
    "no-unused-vars": 1,
    "no-trailing-spaces": 0,
    "no-mixed-requires": 1,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-str": 2,
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "no-underscore-dangle": 0,
    "no-console": 1,
    "no-alert": 1,
    "no-else-return": 1,
    "no-undef": 1,
    "no-eval": 1,
    "non-pushdown": 0,
    "no-debugger": 1,
    "no-extra-strict": 0,
    "no-use-before-define": 0,
    "eol-last": 1,
    "react/display-name": 0,
    "react/jsx-boolean-value": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 0,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/no-did-mount-set-state": 1,
    "react/no-did-update-set-state": 1,
    "react/no-multi-comp": [1, { "ignoreStateless": true }],
    "react/no-unknown-property": 1,
    "react/prop-types": 1,
    "react/react-in-jsx-scope": 1,
    "react/self-closing-comp": 1,
    "react/jsx-wrap-multilines": 1,
    "react/jsx-no-duplicate-props": 1,
    "react/no-danger": 1,
    "react/no-deprecated": 1,
    "react/no-direct-mutation-state": 1,
    "react/no-is-mounted": 1,
    "react/forbid-prop-types": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-curly-spacing": 1,
    "react/jsx-equals-spacing": [1, "never"],
    "react/jsx-indent-props": [1, "tab"],
    "react/jsx-indent": [1, "tab"],
    "react/jsx-key": 1,
    "react/jsx-max-props-per-line": 1,
    "react/jsx-no-bind": [1, {
      "ignoreRefs": false,
      "allowArrowFunctions": false,
      "allowBind": false
    }],
    "react/jsx-pascal-case": [1, {
      "allowAllCaps": true
    }],
    "jsx-quotes": 1,
    "react/no-string-refs": 1,
    "space-infix-ops": 1
  },
  "plugins": [
    "react"
  ]
}
